/* CSS reset. Based on HTML5 boilerplate reset http://html5boilerplate.com/  */
article, aside, details, figcaption, figure, footer, header, nav, section {
    display: block;
}

html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    margin: 0;
    font-size: 14px;
    line-height: 1.4;
}

body, button, input, select, textarea {
    font-family: sans-serif;
}

a:focus {
    outline: thin dotted;
}

a:hover, a:active {
    outline: 0;
}

b, strong {
    font-weight: bold;
}

blockquote {
    margin: 1em 40px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

q {
    quotes: none;
}

q:before, q:after {
    content: "";
}

small {
    font-size: 85%;
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

ul, ol {
    margin: 1em 0;
    padding: 0 0 0 2em;
}

dd {
    margin: 0 0 0 40px;
}

nav ul, nav ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic;
}

button {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle;
    line-height: normal;
    *overflow: visible;
    cursor: pointer;
    -webkit-appearance: button;
}

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.hidden {
    display: none;
    visibility: hidden;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}

/* End CSS reset */

body {
    font-family: sans, arial, sans-serif;
    color: #333;
}

a {
    color: #004dd9;
}

a:hover {
    color: #ea0000;
}

a:visited {
    color: #551a8b;
}

ul li, ol li {
    padding: 0 0 0.4em 0;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}

.header {
    margin: 0 0 1em 0;
    padding: 2em 2% 0 2%;
    color: #6699CC;
    text-align: center;
    background: #6699CC url('../images/design/background_spring_2.jpg') repeat-x;
    position: relative;
}

.header:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: block !important;
    border-radius: 0 0 67px 67px;
    box-shadow: 0 -13px 12px -1px rgba(0, 0, 0, 0.4);
}

.logo {
    font-size: 40px;
    /*color: #4F4E6A;*/
    color: #fff;
    width: 100%;
}

.menu_main {
    margin: 0.3em 0 -1em 0;
    display: inline-block;
    background: #484848;
    padding: 0 30px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px 6px 10px 10px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 14px 4px -9px, rgba(0, 0, 0, 0.7) 0 0 4px inset;
    -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 14px 4px -9px, rgba(0, 0, 0, 0.7) 0 0 4px inset;
    box-shadow: rgba(0, 0, 0, 0.3) 0 14px 4px -9px, rgba(0, 0, 0, 0.7) 0 0 4px inset;
}

.menu_main li {
    display: inline-block;
    padding: 0;
}

.menu_main li a,
.menu_main li a:visited {
    display: inline-block;
    padding: 12px 9px 14px;
    color: #ccc;
}

.menu_main li a:hover {
    background: #888888;
    background: -moz-linear-gradient(top, rgba(136, 136, 136, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(136, 136, 136, 0.7)), color-stop(100%, rgba(255, 255, 255, 0)));
    background: -webkit-linear-gradient(top, rgba(136, 136, 136, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
    background: -o-linear-gradient(top, rgba(136, 136, 136, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
    background: -ms-linear-gradient(top, rgba(136, 136, 136, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(top, rgba(136, 136, 136, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
    color: #fff;
}

.menu_main li.active,
.menu_main li.active a {
    color: #fff;
    text-decoration: none;
    cursor: default;
    background: none;
}

.hero {
    padding: 0 0 0 2%;
    font-size: 20px;
    /* font-family:'Normal 400 Italic'; */
    background: #D6D6D6;
}

.maltcev {
    padding: 0 0 0 2%;
    font-size: 16px;
    /* font-family:'Normal 400 Italic'; */
    background: #D6D6D6;
}


.col_maltcev {
    width: 97%;
    margin: 0 0% 0% 0;
    float: left;
    padding: 1% 1% 1% 1%;
}

.article {
    background: #F0F0F0;
    padding: 0 0 2em 2%;
}

.footer {
    padding: 2em 2% 2em 2%;
    color: #666;
    background: #333;
    -webkit-box-shadow: #000 0 10px 42px -10px inset;
    -moz-box-shadow: #000 0 10px 42px -10px inset;
    box-shadow: #000 0 10px 42px -10px inset;
}

.copyright {
    width: 49%;
    float: left;
    font-family: georgia, serif;
    font-style: italic;
}

.hero h1 {
    font-size: 23px;
    font-family: georgia, serif;
    display: inline-block;
    font-style: italic;
    color: #6699CC;
}

h1, h2 {
    font-weight: normal;
    color: #000;
}

h3, h4, h5, h6 {
    font-weight: bold;
    color: #000;
}

h1 {
    font-size: 22px;
}

.table {
    width: 100%;
}

.table th {
    padding: 5px 7px;
    font-weight: normal;
    text-align: left;
    font-size: 1.2em;
}

.table td {
    padding: 5px 7px;
}

.table tr {
    border-bottom: 1px solid #ddd;
}

.table tr:last-child {
    border: 0;
}

.warning {
    border: 2px solid #d63f46;
    color: #fff;
    padding: 8px 14px;
    background: #de6969;
    background-size: 20px auto;
}
.success {
    border: 2px solid #46a533;
    color: #fff;
    background: #7cde69;
    background-size: 20px auto;
    padding: 8px 14px;
}
a.button, .button {
    border: 1px solid #666;
    text-align: center;
    text-decoration: none;
    background: #6699CC;
    color: #dddddd;
    padding: 8px 20px 10px;
    font-family: verdana, sans-serif;
    display: inline-block;
}

a.button:hover, .button:hover {
    color: #fff;
    text-shadow: 1px 1px 0 #444;
    -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 6px 4px -3px, rgba(0, 0, 0, 0.7) 0 0 4px inset;
    -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 6px 4px -3px, rgba(0, 0, 0, 0.7) 0 0 4px inset;
    box-shadow: rgba(0, 0, 0, 0.4) 0 6px 4px -3px, rgba(0, 0, 0, 0.7) 0 0 4px inset;
}

a.button:active, .button:active {
    color: #333;
    background: #555;
    text-shadow: 1px 1px 0 #888;
    -webkit-box-shadow: #000 0 -3px 14px inset;
    -moz-box-shadow: #000 0 -3px 14px inset;
    box-shadow: #000 0 -3px 14px inset;
}

.col_25 {
    width: 22%;
    margin: 0 2% 0 0;
    float: left;
    padding: 1% 0 0 0;
}

.col_33 {
    width: 30%;
    margin: 0 1% 1% 0;
    float: left;
    padding: 1% 1% 1% 1%;
}

.col_50 {
    width: 47%;
    margin: 0 1% 1% 0;
    float: left;
    padding: 1% 1% 1% 1%;
}

.col_66 {
    width: 63%;
    margin: 0 1% 1% 0;
    float: left;
    padding: 1% 1% 1% 1%;
}

.col_75 {
    width: 72%;
    margin: 0 1% 1% 0;
    float: left;
    padding: 1% 1% 1% 1%;
}

.col_100 {
    width: 97%;
    margin: 0 1% 1% 0;
    float: left;
    padding: 1% 1% 1% 1%;
}

.col_25.wrap {
    width: 25%;
    margin: 0;
}

.col_33.wrap {
    width: 33%;
    margin: 0;
}

.col_50.wrap {
    width: 50%;
    margin: 0;
}

.col_66.wrap {
    width: 66%;
    margin: 0;
}

.col_75.wrap {
    width: 75%;
    margin: 0;
}

.col_100.wrap {
    width: 100%;
    margin: 0;
}

/* End columns */

/* Helper classes */
.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.img_floatleft {
    float: left;
    margin: 0 20px 5px 0;
}

.img_floatright {
    float: right;
    margin: 0 0 5px 10px;
}

.img_logo {
    float: left;
    margin: 0 10px 5px 0;
}

.img_maltcev {
    float: left;
    margin: 10px 10px 10px 10px;
}

.img_hidden {
    display: none;
}

.img {
    max-width: 100%;
}

/* End helper classes */

@media only screen and (max-width: 480px) {
    /* Smartphone */
    .header {
        margin: 0 0 1em 0;
        margin-bottom: 0;
        padding: 2em 2% 0 2%;
        color: #fff;
        text-align: center;
        background: #001AB0;
        background: -moz-linear-gradient(top, rgba(0, 127, 225, 0.7) 0%, rgba(50, 50, 100, 0) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 127, 225, 0.7)), color-stop(100%, rgba(50, 50, 100, 0)));
        background: -webkit-linear-gradient(top, rgba(0, 127, 225, 0.7) 0%, rgba(50, 50, 100, 0) 100%);
        background: -o-linear-gradient(top, rgba(0, 127, 225, 0.7) 0%, rgba(50, 50, 200, 0) 100%);
        background: -ms-linear-gradient(top, rgba(0, 127, 225, 0.7) 0%, rgba(50, 50, 200, 0) 100%);
        background: linear-gradient(top, rgba(0, 127, 225, 0.7) 0%, rgba(50, 50, 200, 0) 100%);
        position: relative;
    }

    .logo {
        display: block;
        float: none;
        text-align: center;
    }

    .img_logo {
        display: none;
    }

    .menu_main {
        width: 100%;
        text-align: center;
        float: none;
        padding: 0;
        margin: 1em 0 0 0;
    }

    .menu_main a {
        display: inline-block;
        padding: 7px;
    }

    .copyright {
        width: 100%;
        float: none;
        text-align: center;
    }

    .footer {
        padding-bottom: 0;
    }

}

@media only screen and (max-width: 768px) {
    /* Tablet */
    .col_25,
    .col_33,
    .col_66,
    .col_50,
    .col_75 {
        width: 98%;
        float: none;
    }

    .header {
        margin: 0 0 1em 0;
        margin-bottom: 0;
        padding: 2em 2% 0 2%;
        color: #fff;
        text-align: center;
        background: #001AB0;
        background: -moz-linear-gradient(top, rgba(0, 127, 225, 0.7) 0%, rgba(50, 50, 100, 0) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 127, 225, 0.7)), color-stop(100%, rgba(50, 50, 100, 0)));
        background: -webkit-linear-gradient(top, rgba(0, 127, 225, 0.7) 0%, rgba(50, 50, 100, 0) 100%);
        background: -o-linear-gradient(top, rgba(0, 127, 225, 0.7) 0%, rgba(50, 50, 200, 0) 100%);
        background: -ms-linear-gradient(top, rgba(0, 127, 225, 0.7) 0%, rgba(50, 50, 200, 0) 100%);
        background: linear-gradient(top, rgba(0, 127, 225, 0.7) 0%, rgba(50, 50, 200, 0) 100%);
        position: relative;
    }

}

@media print {
    /* Printer */
    * {
        background: transparent !important;
        color: black !important;
        text-shadow: none !important;
        filter: none !important;
        -ms-filter: none !important;
    }

    a, a:visited {
        color: #444 !important;
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }


    pre, blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr, img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p, h2, h3 {
        orphans: 3;
        widows: 3;
    }

    h2, h3 {
        page-break-after: avoid;
    }

    .header, .footer, .form {
        display: none;
    }

    .col_33, .col_66, .col_50 {
        width: 98%;
        float: none;
    }

}
